<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
    <title>Url Shortner</title>
</head>

<body>


    <nav class="links" style="--items: 10;">
        <a href="{{url_for('homepage')}}">HOME</a>
        <a href="{{url_for('url_shortner')}}">URL Shortner</a>
        <a href="{{url_for('history')}}">History</a>

    </nav>

    <div class="cover">
        <h1>Welcome to URL Shortner</h1>
        </div>
    
</body>
</html>