<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regex101</title>
</head>
<body>
    <h1>Welcome to regex101</h1>
    <form action="">
        <label>Regular Expression: </label>
        <input type="text" name="input_regex"><br><br>
        <label>String: </label>
        <textarea type="text" name="input_string" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="SUBMIT">
    </form>

    
    <p>
        <h1>Result</h1>
        Total no. of matches found: {{ n }} <br><br>

    {% for i in m %}
        Matches found at location: {{ i }} <br>
    {% endfor %}
</body>
</html>